server/node_modules/*
server/pictures/*
server/uploaded-files/*
node_modules/*
ui/bower_components/*
ui/node_modules/*
server/.editorconfig
server/settings.js
todo.txt
server/data/receipts.json
ui/build/*
server/data/users.json
*.log
server/sessions/*
ui/build/*
ui/.tmp/*
rsync-build-to-server.sh
data/receipts.json
data/users.json
*.pyc
rest-test/node_modules/*
ui/templates/.DS_Store
.DS_store
*.sublime-project
*.sublime-workspace
server/data/*
**/*.pid
