server/sessions/*
server/node_modules/*
server/pictures/*
server/.editorconfig
server/settings.js
server/data/receipts.json
server/data/users.json

ui/build/*
ui/.tmp/*
ui/bower_components/*
ui/node_modules/*

data/receipts.json
data/users.json

todo.txt
*.log
rest-test/node_modules/*
*.pyc

rsync-build-to-server.sh
scripts/backupper/settings.py
