
<div class="container center-block">
  <div class="hero-unit">

    <div class="row bottom-margin" data-id="{{id}}">

      <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
        
        <div class="panel panel-default">

          <div class="panel-heading">Etsimääsi sivua ei löytynyt</div>

          <div class="panel-body">
          
            <div class="row top-margin "> 
              <div class="col-md-12 col-sm-6 col-xs-6">

              404 - Etsimääsi sivua ei löytynyt

            </div>

          </div>
        </div>        
      </div>
    </div>
  </div>
</div>