
<div class="container center-block">
  <div class="hero-unit">

    <div class="row bottom-margin" data-id="{{id}}">
      <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="row top-margin ">
          <div class="col-md-12 text-right">           
            <button type="button" name="delete" class="btn btn-danger">Poista</button>

            <a href="#receipt/view/{{id}}">
              <button type="button" name="cancel" class="btn btn-default">Takaisin</button>
            </a>
          </div>
        </div>

        <div class="row top-margin "> 
          <div class="col-md-12 col-sm-12 col-xs-12">
            <img class="col-md-12" src="{{img}}" />
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

